body {
  font-family: "Open Sans", sans-serif;
  color: #444444;
}

a {
  color: #ffc451;
  text-decoration: none;
}

a:hover {
  color: #ffd584;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", sans-serif;
}

.back-to-top {
  position: fixed;
  visibility: hidden;
  opacity: 0;
  right: 15px;
  bottom: 15px;
  z-index: 996;
  background: #ffc451;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  transition: all 0.4s;
}
.back-to-top i {
  font-size: 28px;
  color: #151515;
  line-height: 0;
}
.back-to-top:hover {
  background: #151515;
}
.back-to-top:hover i {
  color: #ffc451;
}
.back-to-top.active {
  visibility: visible;
  opacity: 1;
}

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #151515;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 0px);
  left: calc(50% - 30px);
  border: 6px solid #ffc451;
  border-top-color: #151515;
  border-bottom-color: #151515;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media screen and (max-width: 768px) {
  [data-aos-delay] {
    transition-delay: 0 !important;
  }
}

#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 15px 0;
  background: rgba(0, 0, 0, 0.8);
}
#header.header-scrolled, #header.header-inner-pages {
  background: rgba(0, 0, 0, 0.8);
}
#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}
#header .logo a {
  color: #fff;
}
#header .logo a span {
  color: #ffc451;
}
#header .logo img {
  max-height: 40px;
}
.navbar {
  padding: 0;
}
.navbar ul {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}
.navbar li {
  position: relative;
}
.navbar a, .navbar a:focus {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-size: 15px;
  font-weight: 600;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a i, .navbar a:focus i {
  font-size: 12px;
  line-height: 0;
  margin-left: 5px;
}
.navbar a:hover, .navbar .active, .navbar .active:focus, .navbar li:hover > a {
  color: #ffc451;
}
.navbar .dropdown ul {
  display: block;
  position: absolute;
  left: 14px;
  top: calc(100% + 30px);
  margin: 0;
  padding: 10px 0;
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}
.navbar .dropdown ul li {
  min-width: 200px;
}
.navbar .dropdown ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #151515;
  font-weight: 400;
}
.navbar .dropdown ul a i {
  font-size: 12px;
}
.navbar .dropdown ul a:hover, .navbar .dropdown ul .active:hover, .navbar .dropdown ul li:hover > a {
  background-color: #ffc451;
}
.navbar .dropdown:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}
.navbar .dropdown .dropdown ul {
  top: 0;
  left: calc(100% - 30px);
  visibility: hidden;
}
.navbar .dropdown .dropdown:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
  visibility: visible;
}
@media (max-width: 1366px) {
  .navbar .dropdown .dropdown ul {
    left: -90%;
  }
  .navbar .dropdown .dropdown:hover > ul {
    left: -100%;
  }
}
.mobile-nav-toggle {
  color: #fff;
  font-size: 28px;
  cursor: pointer;
  display: none;
  line-height: 0;
  transition: 0.5s;
}

@media (max-width: 991px) {
  .mobile-nav-toggle {
    display: block;
  }

  .navbar ul {
    display: none;
  }
}
.navbar-mobile {
  position: fixed;
  overflow: hidden;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  transition: 0.3s;
  z-index: 999;
}
.navbar-mobile .mobile-nav-toggle {
  position: absolute;
  top: 15px;
  right: 15px;
}
.navbar-mobile ul {
  display: block;
  position: absolute;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  padding: 10px 0;
  background-color: #fff;
  overflow-y: auto;
  transition: 0.3s;
}
.navbar-mobile a, .navbar-mobile a:focus {
  padding: 10px 20px;
  font-size: 15px;
  color: #151515;
}
.navbar-mobile a:hover, .navbar-mobile .active, .navbar-mobile li:hover > a {
  color: #151515;
  background-color: #ffc451;
}
.navbar-mobile .getstarted, .navbar-mobile .getstarted:focus {
  margin: 15px;
}
.navbar-mobile .dropdown ul {
  position: static;
  display: none;
  margin: 10px 20px;
  padding: 10px 0;
  z-index: 99;
  opacity: 1;
  visibility: visible;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
}
.navbar-mobile .dropdown ul li {
  min-width: 200px;
}
.navbar-mobile .dropdown ul a {
  padding: 10px 20px;
  color: #151515;
}
.navbar-mobile .dropdown ul a i {
  font-size: 12px;
}
.navbar-mobile .dropdown ul a:hover, .navbar-mobile .dropdown ul .active:hover, .navbar-mobile .dropdown ul li:hover > a {
  background-color: #ffc451;
}
.navbar-mobile .dropdown > .dropdown-active {
  display: block;
}
.banner {
  width: 100%;
  height: 100vh;
}
.banner:before {
  content: "";
  background: rgba(0, 0, 0, 0.4);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}
.banner .container {
  position: relative;
  padding-top: 74px;
  text-align: center;
}
.banner h1 {
  margin: 0;
  font-size: 56px;
  font-weight: 700;
  line-height: 64px;
  color: #fff;
  font-family: "Poppins", sans-serif;
}
.banner h1 span {
  color: #ffc451;
}
.banner h2 {
  color: rgba(255, 255, 255, 0.9);
  margin: 10px 0 0 0;
  font-size: 24px;
}
@media (min-width: 1024px) {
  .banner {
    background-attachment: fixed;
  }
}
@media (max-width: 768px) {
  .banner {
    height: auto;
  }
  .banner h1 {
    font-size: 28px;
    line-height: 36px;
  }
  .banner h2 {
    font-size: 20px;
    line-height: 24px;
  }
}
section {
  padding: 60px 0;
  overflow: hidden;
}

.section-title {
  padding: 40px 0;
}
.section-title h2 {
  font-size: 14px;
  font-weight: 500;
  padding: 0;
  line-height: 1px;
  margin: 0 0 5px 0;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #aaaaaa;
  font-family: "Poppins", sans-serif;
}
.section-title h2::after {
  content: "";
  width: 120px;
  height: 1px;
  display: inline-block;
  background: #ffde9e;
  margin: 4px 10px;
}
.section-title p {
  margin: 0;
  margin: 0;
  font-size: 36px;
  font-weight: 700;
  padding: 0;
  text-transform: uppercase;
  font-family: "Poppins", sans-serif;
  color: #151515;
}
.content{
  padding-left: 0;
  padding-right: 0;
}
.sobrejuan .content h3 {
  font-weight: 700;
  font-size: 28px;
  padding: 0;
  font-family: "Poppins", sans-serif;
}
.sobrejuan .content ul {
  list-style: none;
  padding: 0;
}
.sobrejuan .content ul li {
  padding: 0 0 8px 26px;
  position: relative;
}
.sobrejuan .content ul i {
  position: absolute;
  font-size: 20px;
  left: 0;
  top: -3px;
  color: #ffc451;
}
.sobrejuan .content p:last-child {
  margin-bottom: 0;
}
.historia {
  background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(0, 0, 0, 0.5)), url("https://unbosqueparajuan.files.wordpress.com/2017/10/cropped-foto6.jpg?w=1500") fixed center center;
  background-size: cover;
  padding: 60px 0;
}
.historia h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  padding: 0;
}
.historia p {
  color: #fff;
  padding: 0;
}
.count-box {
  padding: 20px 0;
  width: 100%;
  background-color: green;
  display: flex;
  justify-content: center;
  border-radius: 15px;
  -webkit-box-shadow: 0px 0px 20px -6px rgba(194,192,194,1);
  -moz-box-shadow: 0px 0px 20px -6px rgba(194,192,194,1);
  box-shadow: 0px 0px 20px -6px rgba(194,192,194,1);
}
.contact .info {
  width: 100%;
  background: #fff;
}
.contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #151515;
}
.contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #484848;
}
.contact .info .email{
  margin-top: 40px;
}
.contact .email-form {
  width: 100%;
  background: #fff;
}
.contact .email-form .form-group {
  padding-bottom: 8px;
}
.contact .email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}
.contact .email-form input, .contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
  border-radius: 4px;
}
.contact .email-form input:focus, .contact .email-form textarea:focus {
  border-color: #ffc451;
}
.contact .email-form input {
  height: 44px;
}
.contact .email-form textarea {
  padding: 10px 12px;
}
.contact .email-form button[type=submit] {
  background: #ffc451;
  border: 0;
  padding: 10px 24px;
  color: #151515;
  transition: 0.4s;
  border-radius: 4px;
}
.contact .email-form button[type=submit]:hover {
  background: #ffcd6b;
}
@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
#footer {
  background: black;
  padding: 0 0 30px 0;
  color: #fff;
  font-size: 14px;
}
#footer .footer-top {
  background: #151515;
  border-bottom: 1px solid #222222;
  padding: 60px 0 30px 0;
}
#footer .footer-top .footer-info {
  margin-bottom: 30px;
}
#footer .footer-top .footer-info h3 {
  font-size: 28px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
  text-transform: uppercase;
}
#footer .footer-top .footer-info h3 span {
  color: #ffc451;
}
#footer .footer-top .footer-info p {
  font-size: 1.2rem;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Raleway", sans-serif;
  color: #fff;
}
#footer .footer-top .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #292929;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 4px;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}
#footer .footer-top .social-links a:hover {
  background: #ffc451;
  color: #151515;
  text-decoration: none;
}
#footer .footer-top h4 {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  position: relative;
  padding-bottom: 12px;
}
#footer .footer-top .footer-links {
  margin-bottom: 30px;
}
#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #ffc451;
  font-size: 18px;
  line-height: 1;
}
#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}
#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}
#footer .footer-top .footer-links ul a {
  color: #fff;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}
#footer .footer-top .footer-links ul a:hover {
  color: #ffc451;
}
.about{
  padding-left: 15px;
  padding-right: 15px;
}
.embed-responsive {
  position: relative;
  display: block;
  width: 100%;
  padding: 0;
  overflow: hidden; }
  .embed-responsive::before {
    display: block;
    content: ""; }
  .embed-responsive .embed-responsive-item,
  .embed-responsive iframe,
  .embed-responsive embed,
  .embed-responsive object,
  .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; }

.embed-responsive-21by9::before {
  padding-top: 42.8571428571%; }

.embed-responsive-16by9::before {
  padding-top: 56.25%; }

.embed-responsive-4by3::before {
  padding-top: 75%; }

.embed-responsive-1by1::before {
  padding-top: 100%; 
}
.invalid-feedback {
  display: block;
}

h1.purecounter {
  font-size: 4rem;
}

#main h1,
#main h2,
#main h3,
#main h4,
#main h5,
#main p{
  width: 100%;
  padding: 0 24px;
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 576px) {
  #main h1,
  #main h2,
  #main h3,
  #main h4,
  #main h5,
  #main p {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  #main h1,
  #main h2,
  #main h3,
  #main h4,
  #main h5,
  #main p {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  #main h1,
  #main h2,
  #main h3,
  #main h4,
  #main h5,
  #main p {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  #main h1,
  #main h2,
  #main h3,
  #main h4,
  #main h5,
  #main p {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  #main h1,
  #main h2,
  #main h3,
  #main h4,
  #main h5,
  #main p {
    max-width: 1320px;
  }
}
.centered {
  justify-content: flex-start;
  align-items: center;
  text-align: left;
}

.content em {
  padding: 0 24px;
}

.flickity-viewport{
  height: 400px !important;
}

.flickity-slider img {
  display: block;
  height: 400px;
  margin-right: 10px;
}